body {
    color: #123456;
    text-align: center;
    background-color: #1192d3;
    animation-duration: 4s;
}

.container {
    margin-top: 120px;
    background-color: white;
    width: 35%;
    border-radius: 20px;
}

#weather-container {
    padding: 15px;
}

#weather {
    font-size: 2em;
}

.icon {
    width: 120px;
}

.btn:hover {
    cursor: pointer;
}