body {
    color: #123456;
    text-align: center;
    animation-duration: 4s;
}

.temp-container {
    position: absolute;
    right: 0;
    top: 0;
    width: 35%;
    border-radius: 20px;
    overflow: hidden;
}

#weather-container {
    padding: 15px;
}

#weather {
    font-size: 4em;
}

.icon {
    width: 240px;
}

.icon-name {
    font-size: 4em;
}

.btn:hover {
    cursor: pointer;
}

.quote-container {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.author {
    font-size: 2em;
}