body {
  color: #123456;
  text-align: center;
}

.weather-container {
    top: 0;
    right: 0;
    margin: auto;
    position: absolute;
    width: 600px;
}

#weather-container {
  padding: 15px;
}

#weather {
  font-size: 2em;
}

.icon {
    display: none;
    min-width: 100px;
    width: 15%;
}

.btn:hover {
  cursor: pointer;
}

body {
  margin: 0;
}
